h1 {
  margin: 0;
  padding: 1rem 0;
}

.header {
  background-color: rgb(76, 38, 118);
  height: 4rem;
  color: rgb(249, 244, 249);
}

img {
  width: 100%;
}

.image-title {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.image-url {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.notes {
  width: 100%;
  resize: none;
  height: 6rem;
}

button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(76, 38, 118);
  color: rgb(249, 244, 249);
}

.button {
  display: flex;
  justify-content: flex-end;
}

main.container {
  background-color: rgb(238, 238, 238);
}
